<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF" monitorInterval="120">

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %level - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.treeleaf" level="debug" additivity="true"/>

        <Root level="warn">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</configuration>